# Logs
/logs
*.log

# Coverage directory used by tools like istanbul
/coverage

# Dependency directories
/node_modules

# Compiled sanity studio
/dist

# local env files
.env
.env.local
.env.development
.env.development.local
.env.test.local
.env.production
.env.production.local

# exported datasets
production.tar.gz
development.tar.gz